.navbar {
    width: 82%;
    height: 80px;
    background-color: black;
    margin-left: 18%;
    position: sticky;
    top: 0;
    left: 0;
}
.navbarr {
    display: flex;
}
.navbar1 {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #222222;
    margin-left: 180px;
    margin-top: 10px;
}
.navbar1 > div:nth-child(1) {
    padding-left: 10px;
    margin-top: 8px;
}
.navbar1 > div:nth-child(1) > input {
    background-color: black;
    border: none;
    font-size: 16px;
    outline: none;
}
.navbar1 > div:nth-child(2) {
    width: 60px;
    height: 40px;
    background-color: #222222;
    border-radius: 0px 15px 15px 0px;
}
.navbar1 > div:nth-child(2) > i {
    margin-top: 13px;
}
.navbar2 {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222222;
    margin-top: 10px;
}
.navbar2 > i {
    margin-top: 10px;
}
.navbar3 {
    margin-left: 250px;
    margin-top: 20px;
    font-size: 14px;
}
.navbar4 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
}
.navbar5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
}
.navbar5 > i {
    margin-top: 7px;
    font-size: 15px;
}
.sidebaar {
    width: 18%;
    height: 80px;
    background-color: black;
    margin-top: -80px;
    position: sticky;
    left: 0;
    top: 0;
}
.sidebaar1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* position: sticky;
    top: 0;
    left: 0; */
}
.sidebaar1 > div:nth-child(1) {
    margin-left: 30px;
}
.sidebaar1 > div:nth-child(2) {
    margin-right: 30px;
}
.leftright {
    width: 100%;
    background-color: black;
    height: 2000px;
}
.leftright1 {
    width: 90%;
    margin: auto;
    height: 1000px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}
.left {
    width: 67%;
    /* border: 1px solid white; */
}
.leftl {
    width: 100%;
    height: 550px;
}
.left > h2 {
    color: white;
    font-size: 18px;
    text-align: left;
}
.left1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left2 {
    width: 34%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}
.left2 > div:nth-child(1) {
    border-radius: 50%;
    text-align: left;
}
.left2 > div:nth-child(2) {
    color: white;
    margin-top: -15px;
    text-align: left;
}
.left2 > div:nth-child(2) > h2 {
    font-size: 18px;
    margin-right: 40px ;
}
.left2 > div:nth-child(2) > p {
    font-size: 12px;
    margin-right: 40px;
    margin-top: -10px;
    color: gray;
}
.left2 > button {
    width: 100px;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}
.left3 {
    width: 53%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}
.left3 > div:nth-child(1) {
    width: 150px;
    height: 40px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 5px;
}
.left3 > div:nth-child(1) > p {
    margin-top: 6px;
    font-size: 18px;
}
.left3 > div:nth-child(1) > p:nth-child(1) {
    margin-left: 13px;
}
.left3 > div:nth-child(1) > p:nth-child(4) {
    margin-right: 13px;
}
.left3 > div:nth-child(2) {
    width: 100px;
    height: 40px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 5px;
}
.left3 > div:nth-child(2) > p {
    margin-top: 7px;
    font-size: 18px;
}
.left3 > div:nth-child(2) > p:nth-child(1) {
    margin-left: 12px;
}
.left3 > div:nth-child(2) > p:nth-child(2) {
    margin-right: 12px;
}
.left3 > div:nth-child(3) {
    width: 150px;
    height: 40px;
    background-color: #222222;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 5px;
}
.left3 > div:nth-child(3) > p {
    margin-top: 6px;
    font-size: 18px;
}
.left3 > div:nth-child(3) > p:nth-child(1) {
    margin-left: 13px;
}
.left3 > div:nth-child(3) > p:nth-child(2) {
    margin-right: 13px;
}
.left3 > div:nth-child(4) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222222;
    color: white;
    margin-top: 5px;
    display: flex;
}
.left3 > div:nth-child(4) > p {
    margin-top: 17px;
}
.left3 > div:nth-child(4) > p:nth-child(1) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    margin-left: 7px;
}
.left3 > div:nth-child(4) > p:nth-child(2) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
}
.left3 > div:nth-child(4) > p:nth-child(3) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    margin-right:5px;
    margin-left: 5px;
}
.left4 {
    width: 100%;
    height: 100px;
    background-color: #222222;
    border-radius: 20px;
    margin-top: 20px;
}
.left4 > div {
    margin-left: 15px;
    text-align:left;
}
.left4 > div:nth-child(1) {
    display: flex;
}
.left4 > div:nth-child(1) > p:nth-child(1) {
    color: white;
    margin-top: 10px;
}
.left4 > div:nth-child(1) > p:nth-child(2) {
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}
.left4 > div:nth-child(2) > p:nth-child(1) {
    color: white;
    margin-top: -17px;
    font-size: 14px;
    margin-right: 15px;
}
.left5 {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.left5 > p:nth-child(1) {
    color: gray;
}
.left5 > p:nth-child(2) {
    color: #3EA5FE;
    text-align: left;
}
.right {
    width: 30%;
    height: 1000px;
    /* border: 1px solid red; */
}
.right1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right1 > button:nth-child(1) {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    margin-left: 25px;
    font-weight: bold;
    margin-left: 0;
}
.right1 > button:nth-child(2) {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    margin-left: 25px;
    font-weight: bold;
}
.right1 > button:nth-child(3) {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    margin-left: 25px;
    font-weight: bold;
}
