.navbar {
    width: 100%;
    height: 140px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
}
.navbarr31 {
    display: flex;
}
.bar32 {
    display: flex;
    justify-content: space-between;
    width: 18%;
    padding-top: 23px;
}
.bar32 > div:nth-child(1) {
    margin-left: 30px;
}
.bar32 > div:nth-child(2) {
    margin-right: 100px;
}
.bar11 {
    width: 18%;
    height: 80px;
    background-color: black;
    margin-top: -155px;
    position: sticky;
    top: 0;
    left: 0;
}
.bar12 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.bar12 > div:nth-child(1) {
    margin-left: 30px;
}
.bar12 > div:nth-child(2) {
    margin-right: 30px;
}
.navbar6 {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.navbar6 > button:nth-child(1) {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    margin-left: 25px;
    font-weight: bold;
}
.navbar6 > button:nth-child(2) {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(3) {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(4) {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(5) {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(6) {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(7) {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(8) {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(9) {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(10) {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.navbar6 > button:nth-child(11) {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    background-color: #222222;
    border: none;
    font-weight: bold;
}
.leftside {
    width: 100%;
    height: 2000px;
    background-color: black;
}
.sidebar {
    width: 100%;
    height: 700px;
    background-color: black;
    margin-top: -0px;
}
.sidebar2 {
    width: 80%;
    margin: auto;
    height: 40px;
    background-color: #222222;
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.sidebar2 > div:nth-child(1) {
    margin-left: 25px;
    margin-top: 3px;
    font-size: 20px;
}
.sidebar2 > div:nth-child(2) {
    margin-right: 80px;
    margin-top: -15px;
    font-size: 20px;
    color: white;
}
.sidebar3 {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.sidebar3 > div:nth-child(2) {
    margin-right: 80px;
    font-size: 20px;
    color: white;
    margin-top: -25px;
}
.sidebar4 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.sidebar4 > div:nth-child(2) {
    margin-right: 30px;
    font-size: 20px;
    color: white;
    margin-top: -25px;
}
.sidebar5 {
    width: 90%;
    margin: auto;
    border: 1px solid gray;
}
.sidebar6 {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.sidebar6 > div:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-left: 25px;
}
.sidebar6 > div:nth-child(2) {
    margin-left: 10px;
    margin-top: 4px;
}
.sidebar7 {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.sidebar7 > div:nth-child(1){
    margin-left: 25px;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}
.sidebar7 > div:nth-child(2) {
    margin-left: 30px;
    font-size: 20px;
    color: white;
    margin-top: -22px;
}
.sidebar8 {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 0px;
}
.sidebar8 > div:nth-child(1){
    margin-left: 25px;
    font-size: 25px;
}
.sidebar8 > div:nth-child(2) {
    margin-left: 30px;
    font-size: 20px;
    color: white;
    margin-top: -22px;
}
.class > h2 {
    font-size: 22px;
    color: white;
    text-align: left;
    margin-left: 50px;
}
.logout {
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    background-color: blue;
    border: none;
    outline: none;
    height: 20px;
}
