.login {
    width: 100%;
    height: 600px;
    background-color: white;
}
.login1 {
    width: 30%;
    margin: auto;
    height: 500px;
    margin-top: 80px;
    border: 1px solid gray;
}
.login2 {
    width: 85%;
    margin: auto;
    /* border: 1px solid red; */
}
.login2 > h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}
.login2 > p {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}
.login5 {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    font-size: 22px;
    padding-left: 10px;
}
.login6 {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    font-size: 22px;
    padding-left: 10px;
}
.login3 {
    width: 150px;
    height: 40px;
    background-color: #1A73E8;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    margin-top: 70px;
    margin-right: 100px;
}
.login10 {
    width: 80px;
    height: 40px;
    background-color: #1A73E8;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    margin-top: 70px;
    margin-left: 50px;
}
.login7 {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.login8 {
    width: 44%;
    display: flex;
    justify-content: space-between;
}
.login9 {
    width: 35%;
    display: flex;
    justify-content: space-between;
}